<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.xiaomibms.mapper.RuleMapper">
    <update id="update" parameterType="com.example.xiaomibms.domain.entity.Rule">
        UPDATE rule
        <set>
            <if test="ruleNumber != null">
                rule_number = #{ruleNumber},
            </if>
            <if test="ruleName != null">
                rule_name = #{ruleName},
            </if>
            <if test="warningRules != null">
                warning_rules = #{warningRules},
            </if>
            <if test="batteryType != null">
                battery_type = #{batteryType},
            </if>
        </set>
        WHERE id = #{id}
    </update>
</mapper>